<!DOCTYPE html>
<html lang="en">

<head>
	<title>Gestion Hotelera</title>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<link href="../fonts/roboto.css" rel="stylesheet">
	<link rel="stylesheet" href="../css/fontello.css">
	<link rel="stylesheet" href="../css/style.css">
</head>

<body>
	<navbar>
		<ul class="navbar-nav">
			<li class="nav-item">
				<a href="../index.php.html">Home</a>
			</li>
			<li class="nav-item">
				<a href="./quienes_somos.php.html">Qienes Somos</a>
			</li>
			<li class="nav-item">
				<a href="./servicios.php.html">Servicios</a>
			</li>
			<li class="nav-item">
				<a href="./contacto.php.html" class="active">Contacto</a>
			</li>
			<li class="nav-item">
				<a href="./cuenta.php.html">Cuenta</a>
			</li>
			<li class="nav-item">
				<a href="./intranet.php.html">Intranet</a>
			 </li>
		</ul>
	</navbar>
	<div class="contenido">
		<h2>Nuestras Instalaciones</h2>
		<div class="instalaciones">
			<video src="../video/video promocional.mp4" width=auto height=auto controls poster="vistaprevia.jpg">
				Lo sentimos. Este vídeo no puede ser reproducido en tu navegador.<br>
				La versión descargable está disponible en <a href="URL">Enlace</a>.
			</video>
			<div class="datos">
			<label><strong>Sur América</strong></label><br><br>
			<label>COLOMBIA</label><br>
			<label>Cartagena de Indias D.T. y C.</label><br>
			<label>Cartagena@hotelpremiun.com</label><br>
			<label>Bocagrande Cra 1ra No 6-154 </label><br><br>
			<label><strong>Teléfono:</strong> (57-5) 534 7450</label><br><br>
			<label><strong>Whatsapp:</strong> + 57 322 596 6938 </label>

		</div>
		</div>
	</div>
	
</body>

</html>