<!DOCTYPE html>
<html lang="en">
<head>
	<title>Gestion Hotelera</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<link href="../fonts/roboto.css" rel="stylesheet">
    <link rel="stylesheet"  href="../css/fontello.css">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body class="fondo" >
	  <navbar>
		<ul class="navbar-nav">
			<li class="nav-item">
				<a href="../index.php.hmtl.">Home</a>
			</li>
			<li class="nav-item">
			   <a href="./quienes_somos.php.html" class="active">Qienes Somos</a>
			</li>
			<li class="nav-item">
				<a href="./servicios.php.html">Servicios</a>
			 </li>
			 <li class="nav-item">
				<a href="./contacto.php.html">Contacto</a>
			 </li>
			 <li class="nav-item">
				<a href="./cuenta.php.html">Cuenta</a>
			 </li>
			 <li class="nav-item">
				<a href="./intranet.php.html">Intranet</a>
			 </li>
		</ul>
	  </navbar>
	  <div class="contenido visibilidad center">
		  <div class="descripcion">
			  <div class="texto">
				  <br>
				<h1>Hospedaje y Alojamiento</h1>
			    <p>Somos un hotel que ha impulsado el desarrollo de nuestro municipio acogiendo visitantes nacionales e internacionales, ofreciendoles experiencias inolvidables y vivencias que satisfacen las necesidades de los turistas, los ejecutivos y las empresas que nos visitan.</p>
			  </div>
	    	   <img src="../img/hotel.jpg" alt="">
		  </div>
		  <div class="descripcion-visitante">
			  <h1>¿Por qué nos eligen nuestros visitantes?</h1>
			  <p>
				Más que un Hotel, somos una puerta siempre abierta para que nuestros huéspedes, clientes y visitantes, encuentren en cada uno de nuestros servicios la calidez, hospitalidad, comodidad y calidad, atributos que los inviten y motiven a regresar.
				Gracias a nuestra ubicación estratégica somos reconocidos por acoger a representativas industrias y compañías de la ciudad; igualmente, a huéspedes y visitantes interesados en conocer un destino turístico que promovemos por su valor histórico, cultural y ambiental.
				Contamos con 40 habitaciones de diferente categoría, servicio de restaurante, centro de negocios, lavandería, entre otros servicios complementarios, como el servicio de transporte personalizado.
				</p>
		  </div>
	  </div>
	  
</body>
</html>