<!DOCTYPE html>
<html lang="en">
<head>
	<title>Gestion Hotelera</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<link href="../fonts/roboto.css" rel="stylesheet">
    <link rel="stylesheet"  href="../css/fontello.css">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body >
	  <navbar>
		<ul class="navbar-nav">
			<li class="nav-item">
				<a href="../index.php.html">Home</a>
			</li>
			<li class="nav-item">
			   <a href="./quienes_somos.php.html">Qienes Somos</a>
			</li>
			<li class="nav-item ">
				<a href="./servicios.php.html" class="active">Servicios</a>
			 </li>
			 <li class="nav-item">
				<a href="./contacto.php.html">Contacto</a>
			 </li>
			 <li class="nav-item">
				<a href="./cuenta.php.html">Cuenta</a>
			 </li>
			 <li class="nav-item">
				<a href="./intranet.php.html">Intranet</a>
			 </li>
		</ul>
	  </navbar>
	  <div class="contenido">
		 <div class="salones_eventos">
			 <h2>Salón de eventos</h2>
			 <div class="descripcion_eventos">
				<img src="../img/salon_eventos.jpg" alt="">
				<div class="lista">
				<p>Celebre con nosotros sus fechas memorables desde graduaciones, primeras comuniones, fiestas infantiles, cumpleaños o reuniones familiares; le garantizamos la mejor
					asesoría, servicio e infraestructura para el desarrollo de tan importantes fechas.</p>
					<ul>
						<li><strong>Eventos Corporativos</strong></li>
						<li><strong>Eventos Socialesc</strong></li>
						<li><strong>Salas de juntas VIP</strong></li>
						<li><strong>Bodas</strong></li>
						<li><strong>Entre Otros.</strong></li>
						
					</ul>
				</div>
			 </div>
		 </div>
		 <div class="bar">
			<h2>Bar y restaurante</h2>
			<div class="descripcion_eventos">
				<div class="lista">
					<p>Un Spot Bar en nuestro Piso 18 le invita al deleitar refrescantes cócteles tropicales ó licores de su preferencia junto a la Piscina. Además, aprenda los secretos de nuestra Gastronoía Local en nuestras Clases de Cocina Caribeña y disfrute de ricos snacks y pasabocas con Su Plan Todo Incluido.</p>  
			    </div>
			   <img src="../img/bar.jpg" alt="">
			   <img src="../img/restaurante.jpg" alt="">
			</div>
		</div>

		<div class="servicios_adicionales">
			<h2>Servicios Adicionales</h2>
			<div class="descripcion_eventos">
				<div class="lista">
					<p>Cuente con nuestro servicios Adicionales para hacer de su viaje a cartagena la más grata de las experiencias! Complemente una agradable estadía con nuestros beneficios y servicios adicionales.</p>  
					<ul>
						<li><strong>Cajillas de seguridad</strong></li>
						<li><strong>Wifi y banda ancha sin costo adicional</strong></li>
						<li><strong>Estacionamiento</strong></li>
						<li><strong>Lavanderia</strong></li>
						<li><strong>Enfermeria</strong></li>
						<li><strong>Asistencia Médica</strong></li>
						<li><strong>Entre otros mas...</strong></li>
					</ul>
			    </div>
			   
			</div>
		</div>
	  </div>
</body>
</html>